<div class="card">
    <div class="card-header">
        Editar Datos
    </div>
    <div class="card-body">
        <!-- mensaje de error api -->
        <div *ngIf="err" class="alert alert-danger" role="alert">
            {{err}}
        </div>
        <!-- mensaje de error api -->
        <!-- mensaje de exito api -->
        <div *ngIf='succes' class="alert alert-success" role="alert">
            {{succes}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- mensaje de error api -->
        <form [formGroup]='user' (ngSubmit)='changeData()'>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                </div>
            </div>
            <button type="submit" [disabled]=!user.valid class="btn btn-primary float-right">Guardar</button>
        </form>
    </div>
</div>